# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 140
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.csproj]
end_of_line = lf
indent_size = 2

[*.{json,xml]
indent_size = 2

[Directory.Build.props]
indent_size = 2
