**/packages/*
*.[Pp]ublish.xml
*.log
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.pdb
*.publishsettings
*.user
.vs/
[Bb]in/
[Bb]uild/
[Bb]uild/
[Dd]ebug/
[Ll]ib
[Oo]bj/
[Rr]elease/
[Rr]eleases/
[Tt]est[Rr]esult*/
