<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
    <targets>
        <!--<target xsi:type="File" name="file" encoding="utf-8" fileName="temp\logs\${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}" />-->

        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />

        <target xsi:type="ColoredConsole" name="TestConsole"
                layout="${level:uppercase=true} - ${message} ${exception:format=toString}">
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--<logger name="*" minlevel="Trace" writeTo="blackhole" />-->
        <logger name="*" minlevel="Debug" writeTo="TestConsole" />
    </rules>
</nlog>
